<% include ../partials/_head %>

<% include ../partials/_header %> 

  <main class="container">
    <section class="mb-4">
      <h2>Articles Written by this Author</h2>
      <ul class="list-group">
        <% for (let i = 0; i < author.articles.length; i++) { %>
          <li class="list-group-item"><a href="/articles/<%= author.articles[i]._id %>"><%= author.articles[i].title %></a></li>
        <% } %>
      </ul>
    </section>
    <section class="mb-4">
      <h2>Author Attributes</h2>
      <ul class="list-group">
        <li class="list-group-item">Name: <%= author.name %></li>
      </ul>
    </section>
    <section>
      <a class="btn btn-primary mb-3" href="/authors/<%=author._id%>/edit">Edit</a>
    </section>
    <section>
      <form action="/authors/<%=author._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete Author</button>
      </form>
    </section>
  </main>

<% include ../partials/_footer %>
